In [2]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
from catboost import CatBoostRegressor

### Master table overview

In [9]:
master = pd.read_parquet('../data/05_model_input/master_katl.pq')
print(master.shape)
master.head()

(3627357, 297)

,gufi,timestamp,minutes_until_pushback,mfs_cat_flightid,mfs_cat_flightno,mfs_flightno_length,mfs_cat_no_last,mfs_cat_arrival,mfs_cat_hourdep,mfs_time_diff,...,standtimes_count_4,standtimes_maxdelay_6,standtimes_meandelay_6,standtimes_count_6,standtimes_maxdelay_12,standtimes_meandelay_12,standtimes_count_12,standtimes_maxdelay_24,standtimes_meandelay_24,standtimes_count_24
0,AAL1008.ATL.DFW.210403.1312.0051.TFM_TFDM,2021-04-03 19:30:00,114,AAL1008,1008,4,8,DFW,13,378,...,456,49,-12,628,49,-13,677,49,-13,677
1,AAL1008.ATL.DFW.210403.1312.0051.TFM_TFDM,2021-04-03 19:45:00,99,AAL1008,1008,4,8,DFW,13,393,...,463,102,-12,644,102,-12,707,102,-12,707
2,AAL1008.ATL.DFW.210403.1312.0051.TFM_TFDM,2021-04-03 20:00:00,84,AAL1008,1008,4,8,DFW,13,408,...,454,102,-12,640,102,-12,725,102,-12,725
3,AAL1008.ATL.DFW.210403.1312.0051.TFM_TFDM,2021-04-03 20:15:00,69,AAL1008,1008,4,8,DFW,13,423,...,443,102,-12,645,102,-12,750,102,-12,750
4,AAL1008.ATL.DFW.210403.1312.0051.TFM_TFDM,2021-04-03 20:30:00,54,AAL1008,1008,4,8,DFW,13,438,...,435,102,-12,647,102,-12,769,102,-12,769

In [10]:
master.dtypes.value_counts()

int16             286
object              9
datetime64[ns]      1
int64               1
dtype: int64